@model ASM_NET105_BanTui.Core.Domain.Models.MauSac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MauSac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_MauSac">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
