@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.Hang>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hãng</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên hãng")
            </th>
            <th>
                @Html.DisplayName("Mô tả")
            </th>
            <th>
                @Html.DisplayName("Trạng thái")
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Hang" class="btn btn-warning">Chỉnh sửa</a>
                <a asp-action="Details" asp-route-id="@item.ID_Hang" class="btn btn-primary">Chi tiết</a>
                @* <a asp-action="Delete" asp-route-id="@item.ID_Hang">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
