@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.MauSac>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách màu</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên màu")
            </th>
            <th>
                @Html.DisplayName("Mô tả")
            </th>
            <th>
                @Html.DisplayName("Trạng thái")
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.ID_MauSac">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID_MauSac">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
