@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách hóa đơn đã mua của</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_PTTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_HoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_PTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_HoaDon }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_HoaDon }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_HoaDon })
            </td>
        </tr>
}
    </tbody>
</table>
