@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.GioHangCT>

@{
    ViewData["Title"] = "Index";
    List<string> extensions = new List<string>() { ".jpg", ".png", ".tiff", ".jpeg", ".webp" };
    decimal totalAmount = 0;
}


<h3>Giỏ hàng</h3>
@if (TempData["Message2"] != null)
{
    <div class="alert alert-info">@TempData["Message2"]</div>
}
<table class="table">
    <thead>
        <tr class="">
            <th class="w-25">
                Sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tiền
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="w-25">
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    <div class="bg-light d-flex justify-content-center">
                        @{
                            var extension = System.IO.Path.GetExtension(item.SanPham.Img);
                        }
                        @if (@extensions.Contains(extension))
                        {
                            <div class="img-container d-flex justify-content-center" style="width: 100px; height: 100px;">
                                <img class="responsive-img" src="~/imgs/@item.SanPham.Img" alt="@item.SanPham.TenSanPham" style="object-fit:cover">
                            </div>
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @{
                        var thanhTien = item.SoLuong * item.SanPham.GiaNiemYet;
                        totalAmount += thanhTien;
                    }
                    <p class="card-text"> <b class="px-1">@string.Format("{0:0,0}", thanhTien)</b>
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_GioHangCT })
                </td>
            </tr>
        }
        <a class="btn btn-danger" asp-action="ThanhToan">Thanks toán</a>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><strong>Tổng tiền:</strong></td>
            <td>
                <p class="card-text"> <b class="px-1">@string.Format("{0:0,0}", totalAmount) VNĐ</b>
            </td>
        </tr>
    </tfoot>
</table>
