@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.SanPham>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    // List<string> extentions = new List<string>() { ".jpg", ".png", ".tiff", ".jepg", ".webp" };
}
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm sản phẩm mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Hãng
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Màu sắc
            </th>
            <th>
                Giá niêm yết
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Img
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hang.TenHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MauSac.TenMauSac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaNiemYet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatLieu.TenChatLieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSP.TenLoaiSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                @*<td>
                    <div class="bg-light d-flex justify-content-center">
                        @{
                            var extension = System.IO.Path.GetExtension(System.IO.Path.GetFileName(item.Img));
                        }
                        @if (!string.IsNullOrEmpty(item.Img) && extentions.Contains(extension))
                        {
                            <a asp-action="Index">
                                <img src="~/imgs/@item.Img" height="200px" width="350px">
                            </a>
                        }
                    </div>
                </td>*@

                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ID_SanPham">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ID_SanPham">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID_SanPham">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
