@model IEnumerable<ASM_NET105_BanTui.Core.Domain.Models.SanPham>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    List<string> extensions = new List<string>() { ".jpg", ".png", ".tiff", ".jpeg", ".webp" };
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<div class="my-5 text-center">
    <h1 class="w-100 text-center" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">HAND-PICKED PRODUCTS</h1>
    <div class="w-100 text-center">
        <hr class="mx-auto" style="width: 100px"/>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <p class="w-50 fw-lighter">
            the term "hand-picked" tells customers that they're looking at a curated list of products.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    @{
                        var extension = System.IO.Path.GetExtension(item.Img);
                    }
                    @if (@extensions.Contains(extension))
                    {
                        <div class="position-relative img-container">
                            <a asp-action="DetailsKH" asp-route-id="@item.ID_SanPham">
                                <img class="card-img-top img-container" src="~/imgs/@item.Img" alt="@item.TenSanPham" style="object-fit:cover">
                            </a>
                            <div class="d-flex row button-container border-top position-absolute bottom-0 start-0 end-0">
                                <a asp-action="AddToCart" asp-route-id="@item.ID_SanPham" class="col-6 p-0 hidden-button">
                                    <img src="~/imgs/atc.png" class="px-1" />
                                    Add to cart
                                </a>
                                <a class="col-6 p-0 border-start hidden-button">
                                    <img src="~/imgs/Heart.png" class="px-1" />
                                    Add to wishlist
                                </a>
                                    
                            </div>
                            <a asp-action="AddToCartView" asp-route-id="@item.ID_SanPham" style="font-size: 30px" class="AddToCartButton">+</a>
                        </div>
                    }
                    <a asp-action="DetailsKH" asp-route-id="@item.ID_SanPham" style="text-decoration: none">
                        <div class="mt-3 d-flex justify-content-center">
                            <h5 class="fw-lighter tensp" style="color: black">@item.TenSanPham</h5>
                        </div>
                    </a>
                    <div class="d-flex justify-content-center">
                        <p class="card-text">@item.GiaNiemYet<p class="ps-1">vnđ</p>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<style>
    .tensp:hover {
        color: red;
    }

    .AddToCartButton {
        position: absolute;
        top: 0;
        right: 12px;
        padding: 5px;
        font-size: 30px;
        font-weight: lighter;
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
    }

    .AddToCartButton::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;
    }

    .AddToCartButton:hover::before {
        width: 40px;
        height: 40px;
    }

    .img-container {
        position: relative;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        transition: all 0.3s ease;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    .hidden-button {
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        text-decoration: none;
        color: black;
        font-weight: lighter;
        font-size: 13px
    }

    .img-container:hover .button-container {
        opacity: 1;
    }
</style>
